[Desktop Entry]
Name=Indicator Immersive
Exec=qmlscene qml/Main.qml
Icon=assets/icon.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Name[de_DE]=indicator-immersive.desktop
