[Unit]
Description=Indicator Immersive mode
After=graphical-session.target

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/python3 /opt/click.ubuntu.com/indicator-immersive.kugiigi/current/indicator/kugiigi-indicator-immersive.py

[Install]
WantedBy=graphical-session.target
